/*
Author: Lane Moseley
Description: This is the style sheet for the page footers.
*/

.footer-center {
    text-align: center;
}

.footer {
    height: 50px;
    background-color: #a6a6a6;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 10px;
}