/*
Author: Lane Moseley
Description: This is the main style sheet for the website.
*/

@import "header.css";
@import "footer.css";

* {
    box-sizing: border-box;
}

img {
    padding: 10px;
}

html, body {
    margin: 0;
}

h1, h3 {
    margin: 0;
}

dl {
    margin-top: 5px;
    margin-left: 50px;
}

dt {
    margin-top: 5px;
    font-weight: bold;
}

.howto {
    font-style: italic;
}

table, td, tr {
    /*border: 1px solid black;*/
    vertical-align: center;
}

.top {
    text-align: center;
    width: 100%;
}

.tophint {
    min-width: 30px;
}

.lefthint {
    padding: 7px 0;
    letter-spacing: 4px;
    min-height: 30px;
}

.left {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    height: 100%;
}

caption {
    font-weight: bold;
}


.gridButton {
    font-size: 20px;
    min-width: 30px;
    min-height: 30px;
    padding: 0;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}
